In [1]:
a = {
    'A':1,
    56:21,
    'B':40
}
a

{'A': 1, 56: 21, 'B': 40}

In [9]:
# dictionary does not allow duplicate keys but allows duplicate values
a.update({'B':50})
a.update({"Full Name":"Prasanth Reddy"})
a

{'A': 1, 56: 21, 'B': 50, 'Full Name': 'Prasanth Reddy'}

In [11]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['A', 56, 'B', 'Full Name'])
dict_values([1, 21, 50, 'Prasanth Reddy'])
dict_items([('A', 1), (56, 21), ('B', 50), ('Full Name', 'Prasanth Reddy')])

In [13]:
# we have two ways to know the value of a key
# where one method is get fuction
print(a.get('A'))
# another method is this method
print(a[56])

1
21

In [15]:
# to delete a key value pair from dictionary we use delete function
del a[56]
a

{'A': 1, 'B': 50, 'Full Name': 'Prasanth Reddy'}

In [19]:
a.update({"Hey":[100,200,300,400,500]})
print(a)
print(type(a['A']))
print(type(a['Hey']))
print(a.get("Hey"))

{'A': 1, 'B': 50, 'Full Name': 'Prasanth Reddy', 'Hey': [100, 200, 300, 400, 500]}
<class 'int'>
<class 'list'>
[100, 200, 300, 400, 500]

In [21]:
b = "Hello"
b.upper()

'HELLO'

In [27]:
b= '156'
print(b.isdigit())
print(b.split())

True
['156']

In [29]:
print(b)
print(a)

156
{'A': 1, 'B': 50, 'Full Name': 'Prasanth Reddy', 'Hey': [100, 200, 300, 400, 500]}

In [31]:
a["Full Name"].count('a')

2

In [33]:
a["Full Name"].lower() # this method is just a temporary function which will change it to lower but does not show in output

'prasanth reddy'

In [35]:
a.get("Full Name")

'Prasanth Reddy'

In [37]:
a["Full Name"]=a["Full Name"].upper() # therefore we have to assing it to a key so that it will save the value
a

{'A': 1,
 'B': 50,
 'Full Name': 'PRASANTH REDDY',
 'Hey': [100, 200, 300, 400, 500]}

In [39]:
a.update({'C':56,28:"hello"})
a.update({28:(15,25,35,45,55,'Tuple','yes')})
a.update({"Hey":[100,200,300,400,500,"List"]})
a

{'A': 1,
 'B': 50,
 'Full Name': 'PRASANTH REDDY',
 'Hey': [100, 200, 300, 400, 500, 'List'],
 'C': 56,
 28: (15, 25, 35, 45, 55, 'Tuple', 'yes')}

In [41]:
a.get("Hey")
a['Hey'][5]

'List'

In [44]:
a['Hey'][5][3]

't'

In [46]:
a

{'A': 1,
 'B': 50,
 'Full Name': 'PRASANTH REDDY',
 'Hey': [100, 200, 300, 400, 500, 'List'],
 'C': 56,
 28: (15, 25, 35, 45, 55, 'Tuple', 'yes')}